html {
    box-sizing: border-box;
}
  
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* The Masonry Container */
.masonry {
  margin: auto;
  max-width: 75%;
  column-gap: 0.0em;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* The Masonry Brick */
.item {
  background: #fff;
  /* /* padding: 1em; */
  /* margin: 0 0 0.5rem; */
  /* border-radius: 15px 15px; */
  position: relative;
}

.item img{
  height: auto;
  max-width: 100%;
  display: block;
  margin: auto;
}

.item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.item:hover .overlay {
  opacity: 1;
}

.item .overlay .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.parallax-image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 { background-image: url(../images/parallax/image1.png) }
.img2 { background-image: url(../images/parallax/image2.jpg) }


.sticky {
  border-radius: 15px 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 250px;
  height: 250px;
  padding: 1rem;
  background-image: radial-gradient(circle, #025dee 0%, #04398f 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
    max-width: 100%;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
    max-width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .masonry {
    column-count: 1;
    max-width: 100%;
  }
}

#navbar {
  background-color: rgba(51, 51, 51, 0.742); /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 1;
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.text {
  max-width: 100%;
  width: auto;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}


.leaf-shaped-element {
  max-width: 100%;
  width: auto;
	height: 700px;
	shape-outside: url(../images/leaf.webp);
	shape-margin: 15px;
	shape-image-threshold: 0.5;
	background: #009966 url(../images/forest.jpg) no-repeat center;
	mask-image: url(../images/leaf.webp);
}

.carousel {
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 1em;
  padding-right: 1em;
}

.bottom-section {
  margin-top: -10%;
  align-items: center;
};

.background-color{
  background-color: #009966;
}